node_modules/
dist/


Учти важный факт - все удаление выполняется через soft-delete, выставляя deleted_at поле. Ты не должен отображать зависи, у которых deleted_at не null, а какая-то дата (Там, где в ответе это поле не приходит, можно оставить как есть, значит там оно роль не играет)

Также обрати внимание на панель меню - некоторые кнопки, напимер, проекты, задачи, наезжают друг на друга. Надо поправитьв